.header {
    height: 85vh;
    /* 95% of view height */
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url('../img/hero-small.jpg');
    background-size: cover;
    /* it will try to fit the element inside the box(the parent element)*/
    background-position: top;
    position: relative;

    @supports (clip-path:polygon(0 0)) or (-webkit-clip-path:polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        /*polygon in which element will be visible*/
        height: 95vh;
    }

    // , here is like or
    @media (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width:125em) {
        background-image: linear-gradient(to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8)),
            url('../img/hero.jpg');
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        /* this reference for measurement starts from the parent element whose position is relative*/
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__txt-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}