// using universal selector to clear browser defaults
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* changing root font-size */
html {
    font-size: 62.5%;
    /* setting the inital font-size as 10px since default is 16px */
}

/* doing this in body since it will be inherited */
body {
    box-sizing: border-box;
    /* box-sizing border box makes the border and padding not to be added in the total width and height */
}